.createPostBlock {
    display: flex;
    justify-content: space-between;
}

.newPostText {
    height: 40px;
    width: 950px;
    border-radius: 7px;
    background-color: rgba(151, 207, 240, 0.507);
}

.addPostBtn {
    width: 100px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(111, 171, 173);
}
