.header {
    grid-area: h;
    background-color: rgb(111, 171, 173);
    padding: 15px;
    border-radius: 10px;
}

.header img {
    width: 40px;
}

.authBlock {
    float: right;
}

.authLink {
    text-decoration: none;
    color: white;
}