.contentImg {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.descriptionBlock {
    padding: 20px;
    display: flex;
}

.descriptionItem {
    margin-right: 30px;
    color: white;
}

.descriptionItem img {
    border-radius: 12px;
}