.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding: 15px;
}

.dialogsItems {
    padding: 10px;
    border-right: 1px solid white;
}

.messages {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


